<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Extramarks</title>
<link href="../public/css/extramark.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../public/js/angular.js"></script>
<script type="text/javascript" src="../public/js/angular-route.js"></script>
<script type="text/javascript" src="../public/js/angular-sanitize.js"></script>

</head>

<body>

    <div id="bannerContainer" class="bannerContainer_sitemap" ng-app="sitemap">
        <div class="aboutusContainer" style="position:relative;" ng-controller="mainController">
  <div ng-view></div>
  </div>
</div>
    <script type="text/javascript" src="../public/ng-app/app.js"></script>
    <script type="text/javascript" src="../public/ng-app/service/service.js"></script>
     <script type="text/javascript" src="../public/ng-app/routes.js"></script>
      <script type="text/javascript" src="../public/ng-app/controllers/mainController.js"></script>
</body>
</html>
